<div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" role="button"
    id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    Pizzas
    </a>
    <ul class="dropdown-menu">
        @foreach(var category in Model)
        {
            <li>
                <a class="dropdown-item" asp-controller="Pizza" asp-action="List" style="color: black;"
                asp-route-category="@category.CategoryName">@category.CategoryName</a>
            </li>
        }
        <li class="dorpdown-divider"></li>
        <li>
            <a class="dropdown-item" asp-controller="Pizza" asp-action="List"
            asp-route-category="" style="color: black;">
            Todas as Pizzas
            </a>
        </li>
    </ul>
</div>